tr.logo__fig
  td
    img.logo__img(src=`https://blog-server-yofb.onrender.com/assets/logo-black.webpwebp` width="100%" height="100%" loading="eager" title="APP")
tr.heading__box
  td
    h1.heading Blog
tr
  td
    h2.subheading #{subHead}
